<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <title>About US</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-header">
            <h1>Al-Quran Academy</h1>
        </div>
    </div>
<div class="container1">
    <h1>About Us</h1>
    <p>
        Welcome to Al-Quran Academy, your trusted platform for learning and understanding the Holy Qur’an. Our mission is to make Qur’an education accessible to everyone — 
        children, adults, and new Muslims — through structured online courses, certified teachers, and interactive lessons.
        We offer a range of programs including:

        Qur’an Reading (Nazra)
        Tajweed and Pronunciation
        Hifz (Memorization)
        Qur’anic Tafsir and Translation
        Courses for Kids and Adults

        Whether you're a beginner or looking to deepen your connection with the Qur’an, our goal is to guide you with authentic knowledge, modern tools, and spiritual insight — all from the comfort of your home.
    </p>
</div>
    <div class="footer">
        <p>&copy; 2023 Al-Quran Academy. All rights reserved.</p>
    </div>
</body>
</html>