<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <title>Contact US</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-header">
            <h1>Al-Quran Academy</h1>
        </div>
    </div>
    <div class="container1">
        <h1>Contact Details</h1>
        <h2>Mobile Number: 0331-1122334</h2>
        <h2>Land Line Number: 051-6765467</h2>
        <h2>Email: info-alquran@gmail.com</h2>
        <h2>Location: Sector i-8/2, Islamabad</h2>
    </div>
    <div class="footer">
        <p>&copy; 2023 Al-Quran Academy. All rights reserved.</p>
    </div>
</body>
</html>