<!DOCTYh4E html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewh4ort" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <title>Donate</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-header">
            <h1>Al-Quran Academy</h1>
        </div>
    </div>
    <h4>
        <marquee><h3>Consider donating to support our mission of spreading Qur'an education. 
        Your contributions help us provide free resources, scholarships, and maintain our platform.</h3></marquee><br>
        <strong><h3>Ways to Donate:</h3> </strong>
        <strong><h4>EasyPaisa</h4></strong>
        <h4>Account Number: 123456789</h4>
        <h4>Account Title: ABC XYZ</h4><br>
        <strong><h4>JazzCash</h4></strong>
        <h4>Account Number: 987654321</h4>
        <h4>Account Title: ABC XYZ</h4><br>`
        <Strong><h4>Bank Transfer</h4></Strong>
        <h4>Account Number: 1122334455</h4>
        <h4>Account Title: ABC XYZ</h4>
        <h4>Bank Name: XYZ Bank</h4>
        <h4>Branch Code: 1234</h4>
    </h4>
    <div class="footer">
        <p>&copy; 2023 Al-Quran Academy. All rights reserved.</p>
    </div>
</body>
</html>