<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <title>EasyPaisa</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-header">
            <h1>Al-Quran Academy</h1>
        </div>
    </div>
    <div class="container1">
        <h1>EasyPaisa Account Details</h1>
        <h2>EasyPaisa Number: 0331-1234567</h2>
        <h2>Account Holder Name: ABCD XYZ</h2>
        <h2>Account IBAN Number: PAK00981236729</h2>
    </div>
    <div class="footer">
         <p>&copy; 2023 Al-Quran Academy. All rights reserved.</p>
    </div>
</body>
</html>