<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <title>Qira’at</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-header">
            <h1>Al-Quran Academy</h1>
        </div>
    </div>
    <div class="container">
        <h1>Qira’at</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            {% if success %}
                <div class="alert alert-success">{{ success }}</div>
            {% endif %}
        <h2>Welcome to the Qira’at Course</h2>
        <p>This course is designed to help you read and understand the Quran in its original Arabic script.</p>
        <p>We will cover the following topics:</p>
        <ul>
            <li>1. Intro to Qira’at – Understanding the concept, differences, and history.</li>
            <li>2. Learning 1 or more Qira’at – Usually starts with Ḥafs ʿan ʿĀṣim.</li>
            <li>3. Advanced Sanad Courses – For those seeking certification in reciting Qira’at with a chain going back to the Prophet ﷺ.</li>
            <li>4. Understanding the meaning of selected verses</li>
        </ul>
        <h2>Course Details:</h2>
        <p>Duration: 8 months</p>
        <p>Classes: 4 times a week</p>
        <p>Time: 4:00 PM - 5:30 PM</p>
        <p>Location: Physical/Online</p>
        <p>Instructor: Sheikh Nadeem</p>

        <h1>Student Enrollment</h1>
        <p>Welcome to the enrollment page! Please fill out the form below to enroll in our courses.</p>

        <h2>Enrollment:</h2>
        <p>If you are interested in enrolling in this course, please fill out the enrollment form.</p>
        
        <form action="/qirat" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="phone">Phone Number:</label>
            <input type="text" id="phone" name="phone" required>

            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="footer">
         <p>&copy; 2023 Al-Quran Academy. All rights reserved.</p>
    </div>
</body>
</html>